html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/grey_wash_wall.png");
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: center;
    margin: 0;
    height: 100%;
}

.Main-Header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 80px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#My-Name {
    font-family: "'Georgia', Times, 'Times New Roman', serif";
    height: 57px;
    width: 250px;
    float: left;
    background: #4aaaa5;
    color: #eeeeee;
    padding-top: 20px;
    margin: 2px;
}

.Top {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    height:80px;
    position: relative;
    top: -98px;
}

.navbuttons {
    width: 75px;
    height: 60px;
    float: right;
    padding-top: 15px;
}

.Main-Content1 {
    background: #ffffff;
    height: 500px;
    width: 960px;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 40px;
    min-height: 100%;
}

.Main-Content2 {
    background: #ffffff;
    height: 700px;
    width: 960px;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 40px;
}

.Main-Content3 {
    background: #ffffff;
    height: 1000px;
    width: 960px;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 40px;
    min-height: 100%;
}

.Header2 {
    font-family: "'Georgia', Times, 'Times New Roman', serif";
    color: #4aaaa5;
    width: 880px;
    height: 60px;
    padding-top: 20px;
    margin: 20px 40px 0px 40px;
    float: left;
    border-bottom: 2px solid #cccccc;
    text-align: left;
}

#image1 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 40px;
}

#p1 {
    text-align: left;
    width: 640px;   
    float: left;
    margin: 40px 40px 40px 0px; 
}

#p2 {
    text-align: left;
    width: 640px;
    float: left;
    margin: 0px 40px 40px 0px;
}

#p3 {
    text-align: left;
    width: 880px;
    float: left;
    margin: 0px 40px 40px 40px;
}

.input {
    text-align: left;
    width: 880px;
    height: 30px;
    padding-top: 20px;
    margin: 10px 40px 0px 40px;
    float: left;
}

.block {
    text-align: left;
    width: 860px;
    height: 20px;
    border: 2px solid #cccccc;
    padding: 10px;
    margin: 0px 40px 0px 40px;
    float: left;
}

#block2 {
    width: 880px;
    height: 200px;
    border: 2px solid #cccccc;
    margin: 0px 40px 0px 40px;
    float: left;
}

#submit {
    text-align: center;
    width: 120px;
    height: 30px;
    padding: 10px;
    background: #4aaaa5;
    color: #eeeeee;
    margin: 40px 0px 40px 40px;
    float: left;
}

.picbox {
    width: 275px;
    height: 200px;
    margin: 40px 10px 40px 40px;
    float: left;
}

.picwords {
    font-family: "'Georgia', Times, 'Times New Roman', serif";
    position: relative;
    top: -95px;
    z-index: 1;
    text-align: center;
    background: #4aaaa5;
    color: #eeeeee;
    height: 35px;
    width: 275px;
    padding-top: 15px;
}

footer {
    text-align: center;
    background: #666666;
    color: #eeeeee;
    border-top: 5px solid #4aaaa5;
    margin: 0 auto;
    height: 40px;
    padding-top: 30px;
}

.push, .footer {
    height: 40px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -40px;
}